name = "tokenist-core"
main = "src/worker.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[vars]
# Set these in .dev.vars or wrangler secrets
# OPENAI_API_KEY = ""
# JWT_SECRET = ""

[[d1_databases]]
binding = "DB"
database_name = "tokenist-db"
database_id = "35cd56dc-0bd6-4238-a166-21083de2a993"

[[routes]]
pattern = "api.tokenist.dev"
custom_domain = true