# wrangler.toml
name = 'tokenist-api'

main = "src/worker.ts"
# Required for node:stream and other Node builtins
compatibility_date = "2025-02-21"
compatibility_flags = ["nodejs_compat"]

[vars]
# Set these in .dev.vars or wrangler secrets
# OPENAI_API_KEY = ""
# JWT_SECRET = ""

[[d1_databases]]
binding = "DB"
database_name = "tokenist-db"
database_id = "35cd56dc-0bd6-4238-a166-21083de2a993"

[[routes]]
pattern = "api.tokenist.dev"
custom_domain = true